*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#985e61;
}
form{
    display: flex;
    flex-direction:column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    border: 2px solid black;
    height: 300px;
    width: 30%;
    margin-left: 37%;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: #000000 0px 5px 15px;
    transition: 0.5s;
}
form:hover{
    transform: translateY(-16px);
}
h1{
    font-size: 50px;
    color: #000000;
    background-color: antiquewhite;
}

input{
    height: 60px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    border-color: #e24f8c;
    font-size: 20px;
    background-color: aliceblue;

}
input::placeholder{
    color: gray;
    font-size: 15px;
}

button{
    height: 40px;
    width: 150px;
    border-radius:  40px;
    border: 2px solid black;
    text-align: center;
    font-size: 15px;
    background-color: #e24f8c;
    color: white;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: #000;
    color:red;
    border-color: red 0px 5px 15px;

}