*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ff83a2;
}

.ursula{
    display: flex;
    flex-direction:column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    font-size: 25px;
    text-decoration: bold;
}
.btn{
    display: flex;
    gap: 50px;
}
#oui{
    height: 50px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid black;
    text-align: center;
    font-size: 15px;
    background-color: #e0194b;
    color: white;
    cursor: pointer;
    border: none;
     text-decoration: bold;
     box-shadow: #000000 0px 5px 15px;
    transition: 0.5s;
    margin-left: 150px;
}
#oui:hover{
    transform: translateY(-10px);
}
#non{
    height: 50px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid black;
    text-align: center;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: none;
    text-decoration: bold;
    box-shadow: #000000 0px 5px 15px;
    position: absolute;
    
    transition: 0.5s;
}